<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="keyword" content="timetable"/>
<meta name="description" content="timetable"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densitydpi=medium-dpi"/>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" language = "javascript"> 
window.addEventListener('load', function() {
    setTimeout(scrollTo, 0, 0, 1);
}, false);
</script>