@import url(../font.css);

* { margin: 0; }

body {
    background-color: #B0BEC5;
}
@media screen and (max-width: 499px) {
    .content *          {font-size: 0.8em; }
    .content .small     {font-size: 0.64em; }
    .content .tablename {font-size: 1.2em; }
    .content .tableterm {font-size: 0.88em; }
    .content { margin-bottom: 0.8em; }
    tr td { height: 38px; }
    tr:nth-child(2) td, tr:nth-child(3) td, tr:nth-child(6) td, tr:nth-child(7) td { 
        height: 57px; 
    }
    
}
@media screen and (min-width: 500px) and (max-width: 719px) {
    .content *          {font-size: 0.9em; }
    .content .small     {font-size: 0.72em; }
    .content .tablename {font-size: 1.35em;}
    .content .tableterm {font-size: 0.99em; }
    .content { margin-bottom: 1em; }
    tr td { height: 54px; }
    tr:nth-child(2) td, tr:nth-child(3) td, tr:nth-child(6) td, tr:nth-child(7) td { 
        height: 81px; 
    }
}
@media screen and (min-width: 720px) {
    .content .small     {font-size: 0.8em; }
    .content .tablename {font-size: 1.5em; }
    .content .tableterm {font-size: 1.1em; }
    .content { margin: 1.5em; }
    tr td { height: 70px; }
    tr:nth-child(2) td, tr:nth-child(3) td, tr:nth-child(6) td, tr:nth-child(7) td { 
        height: 105px; 
    }
}
@media screen and (min-width: 1000px) {
    .content {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}


header {
    background-color: #607D8B;
    box-shadow: 0 2px 4px #263238;
    color: white;
    padding-left: 15px;
}

header ul { overflow: hidden; padding: 0; }
header ul li { list-style: none; float: left; padding: 0 35px 0 0; }
header > ul > li { padding: 10px 20px; } 

a { color: white; text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

.content {
    background-color: #ECEFF1;
    box-shadow: 0 2px 3px #263238;
}

.headline {
    padding: 5% 0 0 5%;
    width: 94%;
    display: table-cell; 
    vertical-align: bottom;
}
.headline .tablename { margin-right: 0.5em; }

table { width: 100%; border-collapse: collapse; }
tr:first-child td {height: auto; }
td { 
    width: 17%; 
    border: 1px solid black; 
    border-bottom: 0px solid transparent;
    overflow: hidden; 
    text-align: center; 
}
td:first-child { width: 15%; border-left: 0px solid transparent; }
td:last-child { border-right: 0px solid transparent; }

img { max-width: 1.4em; max-height: 1.4em; display: block; }