@import url(../font.css);

body {
    background-color: #37474F;
}

@media screen and (min-height: 420px) {
    div.cardform {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        vertical-align: middle;
        width: 100%;
        max-width: 400px;
        min-width: 320px;
        margin: auto auto;
    }
    div#loginform    { height: 420px; }
    div#registerform { height: 215px; }
}

div.cardform {
    color: white;
    text-align: center;
    overflow: hidden;
}

h3 { padding: 10px 0; overflow: hidden; }
img { width: 100px; }

input {
    background: transparent;
    border: 0px solid transparent;
    border-bottom: 1px solid white;
    margin: 5px;
    width: 280px;
    padding: 5px 0 5px 15px;
    color: white;
    font-size: 1.1em;
}
input:focus {
    outline: none;
}

button.submit {
    background-color: #607D8B;
    border: 0px none transparent;
    box-shadow: 0 2px 4px #263238;
    color: white;
    width: 295px;
    height: 2em;
    font-size: 1.2em;
}

#more {
    font-size: 0.8em;
}

a { 
    color: #CFD8DC;
    text-decoration: none;
}
a:hover, a:focus { text-decoration: underline; }
