@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
    background-color: #40434d;
    font-family: 'Noto Sans', sans-serif;
}
aside {
    width: 300px;
    padding: 20px;
    background-color: #80838d;
    color: white;
    float: right;
    
}
div#usertitle {
    height: 130px;
}
div#usertitle > img {
    width: 130px;
    height: 130px;
    float: left;
}
div#usertitle > div#userprofile {
    padding-left: 20px;
    overflow: hidden;
}
div#panel {
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
a:hover { color: skyblue; }
a:focus { color: blue; }

main {
    padding: 20px;
    overflow: hidden;
}

img {
    width: 100%;
}