.smallheader {
    text-align: center;
    background-color: #607D8B;
    box-shadow: 0 1px 2px #263238;
    color: white;
}

td.day {
    width: 3em;
}
td.time {
    width: 2.3em;
    text-align: right;
}

.container {
    float: left;
    max-width: inherit;
    min-width: inherit;
    width: 22em;
    margin: 1em 1em 0 0;
}
@media screen and (max-width: 50em) {.container {
    width: 100%;
    margin: 1em 0 0 0;
}}
.container2 {margin: 0.5em;}
.bottombar {
    padding-top: 1em;
    clear: both;
}