@import url(../font.css);

body {
    background-color: #B0BEC5;
}

.container {
    background-color: #ECEFF1;
    box-shadow: 0 2px 3px #263238;
    text-align: center;
    overflow: hidden;
    max-width: 400px;
    min-width: 260px;
    margin: auto;
    height: auto;
}
@media screen and (min-width: 450px) {
    .container { margin-top: 30px; }
}

header {
    text-align: center;
    background-color: #607D8B;
    box-shadow: 0 1px 2px #263238;
}

form {
    padding: 10px;
}

h2 {
    margin: 0;
    padding: 5px;
    color: white;
}

input, select {
    width: 100%;
    margin: 5px 0;
    height: 30px;
}
input[type="text"] { width: 96%; padding-left: 10px; }
input[type="date"] { width: 94%; padding-left: 10px; }

table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 92%;
    padding: 10px 0;
    margin: 10px 0 0 0;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}
input[id="day_fri"] + label { margin-right: 0; }
input[type="checkbox"]:checked + label {
    background-color: #607D8B;
    color: white;
}
input[type="checkbox"]:active + label {
    background-color: black;
    color: white;
}
input[type="checkbox"] { display: none; }

img { height: 32px; }
button {
    border: 0px solid transparent;
    background-color: #607D8B;
    color: white;
}
button.btn1 { 
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px;
    box-shadow: 0 1px 2px #263238;
}
button.btn2 {
    height: 100%;
    width: 100%;
}
.submitwrapper {
    overflow: hidden;
    height: 50px;
    box-shadow: 0 1px 2px #263238;
}