@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
    background-color: #40434d;
    font-family: 'Noto Sans', sans-serif;
}

div#loginform {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: #80838d;
    color: white;
}

h3 {
    padding: 30px 0 10px 0;
}

img {
    width: 100px;
}

table {
    margin: 0 auto;
}

table td:first-child {
    width: 5em;
}

input {
    margin: 5px;
    width: 250px;
    padding: 5px 0 5px 15px;
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
}

button {
    background-color: #C0C3CF;
    border: 0px none white;
    margin: 5px 5px 20px 5px;
    width: 250px;
    padding: 5px 0;
    font-size: 1.2em;
    font-family: 'Noto Sans', sans-serif;
}