<meta charset="utf-8"/>
<form action="/test0427/test0427-4.php" method="post">
    <p>때 <input type="text" name="day"/></p>
    <p>나이 <input type="number" name="age"/></p>
    <button type="submit">입장료 구하기</button>
</form>